<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>AcmeSpring - Login</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
<link rel='stylesheet prefetch'
	href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900' />
<link rel='stylesheet prefetch'
	href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' />
<link rel="stylesheet" href="resources/css/style.css" />
</head>
<body>
	<div class="pen-title">
		<h3>Inserisci i dati per il login o registrati</h3>
	</div>
	<p align="center" style="color: #f9000a; font-weight:bold;" th:text="${message}"></p>
	<!-- Form Module-->
	<div class="module form-module">
		<div class="toggle">
			<i class="fa fa-times fa-pencil"></i>
			<div class="tooltip">Switch</div>
		</div>
		<div class="form">
			<h2>Login</h2>
			<form th:action="@{/login}" method="POST" th:object="${customer}">
				<input type="text" placeholder="Username" name="username" th:field="*{username}" /> 
				<input type="password" placeholder="Password" name="password" th:field="*{password}" />
				<button type="submit">Login</button>
			</form>
		</div>
		<div class="form">
			<h2>Registrazione</h2>
			<form th:action="@{/registration}" method="POST" th:object="${customer}">
				<input type="text" placeholder="Nome" name="firstName" th:field="*{firstName}" th:required="required"/> 
				<input type="text" placeholder="Cognome" name="lastName" th:field="*{lastName}" th:required="required"/>
				<input type="date" name ="dateOfBirth" th:field="*{dateOfBirth}" th:required="required" />
				<input type="text" placeholder="Username" name="username" th:field="*{username}" th:required="required" /> 
				<input type="email" placeholder="Email" name="email" th:field="*{email}" th:required="required" />
				<input type="password" placeholder="Password" name="password" th:field="*{password}" pattern=".{3,}" title="La password deve contenere almeno 5 caratteri"/>
				<button type="submit">Registrati</button>
			</form>
		</div>
		<div class="cta">AcmeSpring</div>
	</div>
	<script
		src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="resources/js/login.js"></script>
</body>
</html>