<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>AcmeSpring - Catalogo</title>
<meta charset="utf-8" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Tangerine" />

<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/user}">AcmeSpring</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/user}">Home</a></li>
					<li><a th:href="@{/user/catalogue}">Catalogo</a></li>
					<li class="dropdown active"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">Categorie <span
							class="sr-only">(current)</span><span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{Italiana}">Italiana</a></li>
							<li><a th:href="@{Metal}">Metal</a></li>
							<li><a th:href="@{Pop}">Pop</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>
							<strong>Account</strong> <span
							class="glyphicon glyphicon-chevron-down"></span>
					</a>
						<ul class="dropdown-menu">
							<li>
								<div class="navbar-login">
									<div class="row">
										<div class="col-lg-4">
											<p class="text-center">
												<span class="glyphicon glyphicon-user icon-size"></span>
											</p>
										</div>
										<div class="col-lg-8">
											<p class="text-left">
												<strong
													th:text="${customer.firstName} + ' ' + ${customer.lastName}"></strong>
											</p>
											<p class="text-left small" th:text="${customer.email}"></p>
											<p class="text-left">
												<a th:href="@{/user/profile}"
													class="btn btn-info btn-block btn-sm">Profilo</a>
											</p>
										</div>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="navbar-login navbar-login-session">
									<div class="row">
										<div class="col-lg-12">
											<p>
												<a th:href="@{/logout}" class="btn btn-danger btn-block">Logout</a>
											</p>
										</div>
									</div>
								</div>
							</li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"> <span
							class="glyphicon glyphicon-shopping-cart"></span> 7 - Elementi<span
							class="caret"></span></a>
						<ul class="dropdown-menu dropdown-cart" role="menu">
							<li><span class="item"> <span class="item-left">
										<img src="http://lorempixel.com/50/50/" alt="" /> <span
										class="item-info"> <span>Item name</span> <span>23€</span>
									</span>
								</span> <span class="item-right">
										<button class="btn btn-xs btn-danger pull-right">x</button>
								</span>
							</span></li>
							<li><span class="item"> <span class="item-left">
										<img src="http://lorempixel.com/50/50/" alt="" /> <span
										class="item-info"> <span>Item name</span> <span>23€</span>
									</span>
								</span> <span class="item-right">
										<button class="btn btn-xs btn-danger pull-right">x</button>
								</span>
							</span></li>
							<li><span class="item"> <span class="item-left">
										<img src="http://lorempixel.com/50/50/" alt="" /> <span
										class="item-info"> <span>Item name</span> <span>23€</span>
									</span>
								</span> <span class="item-right">
										<button class="btn btn-xs btn-danger pull-right">x</button>
								</span>
							</span></li>
							<li><span class="item"> <span class="item-left">
										<img src="http://lorempixel.com/50/50/" alt="" /> <span
										class="item-info"> <span>Item name</span> <span>23€</span>
									</span>
								</span> <span class="item-right">
										<button class="btn btn-xs btn-danger pull-right">x</button>
								</span>
							</span></li>
							<li class="divider"></li>
							<li><a class="text-center" href="">Vedi Carrello</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="main-content container" style="padding-top: 70px;">

		<div class="row">
			<div class="col-md-12">
				<div class="input-group" id="adv-search">
					<input type="text" class="form-control"
						placeholder="Filtro di ricerca" />
					<div class="input-group-btn">
						<div class="btn-group" role="group">
							<div class="dropdown dropdown-lg">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-expanded="false">
									<span class="caret"></span>
								</button>
								<div class="dropdown-menu dropdown-menu-right" role="menu">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="filter">Filtra categoria</label> <select
												class="form-control">
												<option value="0">Tutte</option>
												<option value="1">Italiana</option>
												<option value="2">Metal</option>
												<option value="3">Pop</option>
												<option value="4">Rock</option>
												<option value="5">Commerciale</option>
											</select>
										</div>
										<div class="form-group">
											<label for="contain">Artista (o gruppo)</label> <input
												class="form-control" type="text" />
										</div>
										<div class="form-group">
											<label for="contain">Ricerca per parola</label> <input
												class="form-control" type="text" />
										</div>
										<button type="submit" class="btn btn-info">
											<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
										</button>
									</form>
								</div>
							</div>
							<button type="button" class="btn btn-info">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Artista</th>
					<th>Album</th>
					<th>Prezzo</th>
					<th>Dettagli</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data : ${products}">
					<td th:text="${data.artist}"></td>
					<td th:text="${data.album}"></td>
					<td th:text="${data.price}"></td>
					<td><a
						th:href="@{'/user/catalogue/' + ${data.category} + '/' + ${data.id}}"><button
								type="button" class="btn btn-info">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer>
		<div class="footer" id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
						<h3>Lorem Ipsum</h3>
						<ul>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
						</ul>
					</div>
					<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
						<h3>Lorem Ipsum</h3>
						<ul>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
						</ul>
					</div>
					<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
						<h3>Lorem Ipsum</h3>
						<ul>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
						</ul>
					</div>
					<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
						<h3>Lorem Ipsum</h3>
						<ul>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
							<li><a href="#"> Lorem Ipsum </a></li>
						</ul>
					</div>
					<div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
						<h3>Lorem Ipsum</h3>
						<ul>
							<li>
								<div class="input-append newsletter-box text-center">
									<input type="text" class="full text-center"
										placeholder="Email " />
									<button class="btn  bg-gray" type="button">
										Lorem ipsum <i class="fa fa-long-arrow-right"> </i>
									</button>
								</div>
							</li>
						</ul>
						<ul class="social">
							<li><a href="#"> <i class="fa fa-facebook"
									aria-hidden="true"></i>
							</a></li>
							<li><a href="#"> <i class="fa fa-twitter"
									aria-hidden="true"></i>
							</a></li>
							<li><a href="#"> <i class="fa fa-google-plus"
									aria-hidden="true"></i>
							</a></li>
							<li><a href="#"> <i class="fa fa-pinterest"
									aria-hidden="true"></i>
							</a></li>
							<li><a href="#"> <i class="fa fa-youtube"
									aria-hidden="true"></i>
							</a></li>
						</ul>
					</div>
				</div>
				<!--/.row-->
			</div>
			<!--/.container-->
		</div>
		<!--/.footer-->

		<div class="footer-bottom">
			<div class="container">
				<p class="pull-left">AcmeSpring - Progetto realizzato da Andrea
					De Angelis</p>
				<div class="pull-right">
					<ul class="nav nav-pills payments">
						<li><i class="fa fa-cc-visa"></i></li>
						<li><i class="fa fa-cc-mastercard"></i></li>
						<li><i class="fa fa-cc-amex"></i></li>
						<li><i class="fa fa-cc-paypal"></i></li>
					</ul>
				</div>
			</div>
		</div>
		<!--/.footer-bottom-->
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>